/* 12 column nano grid */

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12,
.grid13, .grid14, .grid15, .grid16, .grid17, .grid18, .grid19, .grid20, .grid21, .grid22, .grid23, .grid24 {
  display: block; float:left; width: 100%;
}

@media ( min-width : 500px ) {
  .grid1, .grid2, .grid3, .grid4, .grid5, .grid6, 
  .grid7, .grid8, .grid9, .grid10, .grid11, .grid12,
  .grid13, .grid14, .grid15, .grid16, .grid17, .grid18,
  .grid19, .grid20, .grid21, .grid22, .grid23, .grid24 {
    margin-left: 2%;
  }
  .grid1 	{ width: 2.25%; }
  .grid2 	{ width: 6.5%; }
  .grid3 	{ width: 10.75%; }
  .grid4 	{ width: 15.0%; }
  .grid5 	{ width: 19.25%; }
  .grid6 	{ width: 23.5%; }
  .grid7 	{ width: 27.75%; }
  .grid8 	{ width: 32.0%; }
  .grid9 	{ width: 36.25%; }
  .grid10 	{ width: 40.5%; }
  .grid11 	{ width: 44.75%; }
  .grid12 	{ width: 49.0%; }
  .grid13 	{ width: 53.25%; }
  .grid14 	{ width: 57.5%; }
  .grid15 	{ width: 61.75%; }
  .grid16 	{ width: 66.0%; }
  .grid17 	{ width: 70.25%; }
  .grid18 	{ width: 74.5%; }
  .grid19 	{ width: 78.75%; }
  .grid20 	{ width: 83.0%; }
  .grid21 	{ width: 87.25%; }
  .grid22 	{ width: 91.5%; }
  .grid23 	{ width: 95.75%; }
  .grid24 	{ width: 100%; }
}


.first { margin-left: 0; }