.grid { width: 960px; margin: 0 auto; }
.row, .full, .wide, .thin, .half, .third, .quarter { margin-right: 2%; display: inline; min-height: 1px; float: left; }
.row { width: 98%; margin-left: 2%; margin-right: 0; clear: both; }
.full { width: 98%; }
.wide { width: 62%; }
.thin { width: 34%; }
.half { width: 48%; }
.third { width: 31.333% }
.quarter { width: 23%; }

@media ( max-width: 1040px ) {
    .grid { width: auto; }
}

@media ( max-width: 668px ) {
    .row, .wide, .thin, .half, .full, .third, .quarter { width: 98%; }
}
