/* 12 column nano grid - fluid grid, fixed gutter */

@media ( max-width : 767px ) {
  .grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
    width: 100%;
  }
}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
  padding-left: 15px; display: block; float: left; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.grid1 { width: 8.333% }
.grid2 { width: 16.666%; }
.grid3 { width: 24.999%; }
.grid4 { width: 33.333%; }
.grid5 { width: 41.666%; }
.grid6 { width: 50%; }
.grid7 { width: 58.333%; }
.grid8 { width: 66.666%; }
.grid9 { width: 74.999%; }
.grid10 { width: 83.333%; }
.grid11 { width: 91.666%; }
.grid12 { width: 100%; }

.first { padding-left: 0; }