/* 12 column nanogrid - fluid grid, fluid 5% gutter */

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
  margin-left: 5%; display: inline; float: left;
}
.grid1 { width: 3.75%; }
.grid2 { width: 12.5%; }
.grid3 { width: 21.25%; }
.grid4 { width: 30%; }
.grid5 { width: 38.75%; }
.grid6 { width: 47.5%; }
.grid7 { width: 56.25%; }
.grid8 { width: 65%; }
.grid9 { width: 73.75%; }
.grid10 { width: 82.5%; }
.grid11 { width: 91.25%; }
.grid12 { width: 100%; }

.first { margin-left: 0; clear: left; }

@media ( max-width: 979px ) {
  .grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
    width: 100%; margin-left: 0;
  }
}